html, body {
	background-color: transparent;
}

body {width: 960px; }

.section.content {background: #FFF;}

/* PAGE HEADER */

.page-header {
	background-image: url(/system/images/MBB_header.png); /*Color of header image is #AD163D;*/
	background-repeat: no-repeat;
	height: 77px; 
	width: 960px; 
	padding: 0; 
	margin-top: 0;
	background-color: #FFF;
	}

.page-header h1 {
	margin: 0; 
	padding: 15px 20px 0;
	letter-spacing: 2px;
	font-family:  Verdana, Tahoma, sans-serif, Arial,  ; 
	font-size: 16px; 
	font-weight: bold;
}

.page-header .main-nav {
	position: absolute; 
	bottom: 0; 
	left: 20;	
	font-size: 10px; 
}

.page-header .main-nav li {
	margin-right: 1px;
	border: 1px solid white;

	}
	
.page-header .navigation.main-nav a {
	background: #AD163D; 
	font-size: 11px; 
	}

.page-header .navigation.main-nav a:hover {
/* 	background: #BE273D;*/
	background: #DDD;
	}
	
.page-header .navigation.main-nav li.current a {background: #FFF; color: #AD163D;}

.account-nav {
	position: absolute; 
	top: auto; 
	right: 20px;
	bottom: 58px;
	left: auto;
	font-size: 11px;   
}
.account-nav a {color: #bbb;}

.page-header div.search {
	position: absolute; top: 50px; right: 5px; z-index: 10;
}

select.dev-user-changer {top: auto ; left: 400px; bottom: 1px; right: auto; height: auto;}

.page-content {background: none;}
.content-header, .content-body {margin: 0 5px 0 5px;}



.show-page .content-header a.edit-link {
	position: absolute; 
	top: 3px; 
	bottom: auto;
	right: 6px;
	font-size: 11px;
	background-color: transparent;
}

/* GENERIC PAGE SETUP */

body {
	color: #777;
	font-size: 12px;
	line-height: 120%;
}

h1, h2, h3 {font-weight: bold; line-height: 100%; color: #D61951; padding: 2px;}
h1 {margin: 3px 0 1px; font-size: 16px;}
h2 {margin: 2px 0 1px; font-size: 14px;}
h3 {margin: 2px 0 1px;  font-size: 13px;}
h4 {margin: 2px 0 1px;  font-size: 12px;}
h5 {margin: 1px 0 1px;  font-size: 11px;}

.content-header {
	position: relative;
	width:100%; 
}

.content-body {
	position: relative;
	width:100%;  
}

.content-column-left {
	float:left;
	width:690px;  
/*	background-color: #888; */
}

.content-column-right {
	float:left;
	width:260px;  
	text-align:center;
/*	background-color: #BBB; */
}

.page-footer {
	width:100%;
	background-color: #AD163D;     
	text-align:center;
	overflow: hidden; height: 100%;
    font-size: 10px; line-height: 10px;
    padding: 5px 0 15px 20px;

}

.static-page  { 
	text-align:left;
    font-size: 13px; line-height: 1.2em;
    padding: 30px 80px 20px 80px;
}

.page-footer ul { list-style-type: none; text-align:center; }
.page-footer ul li { float: left; border-right: 1px solid #fff; margin: 0; padding: 0 5px; background-color: transparent;}
.page-footer ul li a {border:none; color: #fff; background-color: transparent;}


.show-page .content-header, .primary-collection h2 {
	margin: 4px 0 1px; 
	padding: 0;
	vertical-align: bottom;
}

.front-page .welcome-message {
	width:100%;
	background:transparent;
	padding: 0;
	text-align:center;
}


/* BUTTONS */
.button {color: white; background: #AD163D;}
.button:hover {background-color: #AA143C;}

.button {
	padding: 3px 6px;
	border: none;
    width: auto;
	font-size: 11px; font-weight: bold;
	margin-top: 4px;
}

/* SEARCH form classes*/

div.search-by-location {
	position:relative;
	border: 0;
	text-align:center;
	background-color: #feb;
}

/* GENERIC CARD classes */ 
.card {
	height: 100%; 
	overflow: hidden;
	margin: 10px 0;	
	padding: 2px; 
	border-bottom: 1px solid #AD163D;
	background:#FFF;
	position: relative;
}

.card
a, a:hover, .card a, .card a:hover {
	background: none; 
	color: #1D7D39;
	margin: 0;
	padding: 0;
}


/* REVIEW card classes*/

div.review {
	width:100%;
	position:relative;
	border: 0 0 1px 0;
}

div.review_card_header {
	width:100%;
	padding: 5px;
	background:#feb;	
}

div.reviewer {
	float:left;
	text-align:center;
	width:60px;
	margin: 5px 2px; 
}

div.review_details {
	float:left;
	margin: 5px 2px; 
}

div.review_date {
	float:left;
	margin: 0px 0px 0px 10px; 
}
div.big_star, div.small_star {
	float:left;
	margin:0px;
	padding: 0;
}

div.review_text {
	clear:both;
	margin: 5px 0px;
}


/* ORGANIZATION Index SEARCH Classes */

div.filter-container {
	width:100%;
	position:relative;
	border: 0 0 1px 0;
}

div.filter-link {
	text-align:center;
	float:left;
	width:50px;
	background-color: #fff; 
	margin: 0px 10px 0px 0px;
}

/* ORGANIZATION card classes*/
div.organization {
	width:100%;
	position:relative;
}

div.organization_card_header {
	width:100%;
	position:relative;
	background:#feb;	
	padding: 5px; 
	height: 1.2em;
}

div.organization_name {
	float:left;
	margin: 0px 10px 0px 0px;
}

div.organization_review_summary {
	float:left;
	font-style: italic;
	margin: 0px 0px 0px 10px;
}

div.organization_photo {
	float:left;
	text-align:center;
	width:80px;
	margin: 5px 2px; 
}

div.organization_about {
	float:left;
	margin:2px;
}


/* ORGANIZATION show classes*/
div.main-image {
	float:left;
	text-align:center;
	width:320px;
	margin: 5px 2px; 

}

div.content-next-to-image {
	float: left;
	width:520px;
	margin:2px;
}

div.content-below-image {
	clear:both;
	margin:2px;
}

/* ASIDE */ 

.aside {
	padding: 20px; 
	margin: 40px 25px 0 0;
}
.aside-content h2, .aside-content h3 {
	border-bottom: 1px solid #ccc; 
	margin-top: 0;
}

/* INPUT */
input.text, input.string, input.email-address, input.password, input.search, input.integer, input.float, textarea {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
    background: #fff url(../images/fieldbg.gif) repeat-x top;
	font-size: 0.8 em; line-height: 1.1em;
}